.About {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.About__text {
    font-size: 1.5rem;
    padding: 40px 100px;

}
.AboutUsBG {
    width: 100%;
    height: 300px;
}